[gcode_macro _HOME_X]
gcode:
    {% set current_accel = printer.toolhead.max_accel %}

    M204 S5000

    # Home
    G28 X0

    # Move away
    #G91
    #G1 X-20 F4800

    M204 S{current_accel}


[gcode_macro _HOME_Y]
gcode:
    {% set current_accel = printer.toolhead.max_accel %}

    M204 S5000

    # Home
    G28 Y0

    # Move away
    #G91
    #G1 Y20 F4800

    M204 S{current_accel}

[homing_override]
axes: xyz
gcode:
  SAVE_GCODE_STATE NAME=homing_saved_state

  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}

  # Home again, see homing.cpp:692
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}

  # Finally home Z
  {% if home_all or 'Z' in params %}

    # Move to park position
    G90
    G1 X202.0 F4800
    G1 Y264.5 F4800
    M400

    G28 Z0

    # Move the plate down
    G91
    G1 Z10 F1500
  {% endif %}

  RESTORE_GCODE_STATE NAME=homing_saved_state
